<section class="admin">
  <div class="breadcrumb">
    <%= link_to "Dashboard", admin_path %>
    <a href="javascript:void(0)">News Articles</a>
  </div>
  <header>
    <h1>Members</h1>
  </header>
  <%= button_to "Add Member", new_admin_member_path, method: "get" %>
  <table>
    <tbody>
      <% @members.each do |member| %>
        <tr>
          <td><%= link_to member.name, admin_member_path(member) %></td>
          <td><%= link_to "Edit", edit_admin_member_path(member) %> | 
            <%= link_to "Delete", admin_member_path(member), method: :delete, data: { confirm: 'Are you sure?' } %>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
