<article class="news-item">
  <div class="breadcrumb">
    <a href="/news.html">News</a>
    <a href="javascript:void(0)"><%= @article.title %></a>
  </div>
  <header>
    <h1><%= @article.title %>
  </header>
  <footer>
    <p>Posted on <time datetime="<%= @article.created_at %>"><%= @article.created_at.strftime('%d %B %Y') %></time></p>
  </footer>
  <div class="content">
    <p><%= @article.body %></p>
    <% if @article.document_id? %>
      <p><i class="fa fa-download left"></i><%= link_to @article.document_filename, attachment_url(@article, :document) %></p>
    <% end %>
    <% if @article.link.present? %>
      <p><i class="fa fa-link left"></i>website: <%= link_to @article.link, @article.link %></p>
    <% end %>
  </div>
  <aside>
    <%= image_tag attachment_url(@article, :image, :fill, 250, 250) %> 
  </aside>
</article>
