<article class="news-item">
  <div class="breadcrumb">
    <a href="/news.html">News</a>
    <a href="javascript:void(0)"><%= @article.title %></a>
  </div>
  <header>
    <h1><%= @article.title %>
  </header>
  <footer>
    <p>Posted on <time datetime="<%= @article.created_at %>"><%= @article.created_at.strftime('%d %B %Y') %></time></p>
  </footer>
  <div class="content">
    <p><%= @article.body %></p>
    <% if @article.link.present? %>
      <p><i class="fa fa-link"></i>website: <%= link_to @article.link %></p>
    <% end %>
  </div>
  <aside>
    <%= image_tag attachment_url(@article, :image, :fill, 400, 217) %> 
  </aside>
</article>
