<%= form_for [:admin, news_article], :html => { class: "admin-add" } do |f| %>
  <header>
    <h1><i class="fa fa-newspaper-o"></i>
      <% if news_article.new_record? %>
        New News Article</h1>
      <% else %>
        Edit News Article 
      <% end %>
    </h1>
  </header>
  <%= render "shared/errors", object: news_article %>
  <div>
    <%= f.label :date %>
    <%= f.date_field :date %>
  </div>
  <div>
    <%= f.label :title, autofocus: true %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :body %>
    <%= f.text_area :body, rows: "10" %>
  </div>
  
  <div>
    <%= f.label :image %>
    <div id="image"></div>
    <% if @news_article.image_id? %>
      <%= image_tag attachment_url(news_article, :image, :fill, 150, 150) %>
      <div class="check_box">
        <%= f.check_box :remove_image %>
        <%= f.label :remove_image %>
      </div>
    <% end %>
    <%= f.attachment_field :image, direct: true, data: { remote_id: :news_article_image_cache_id } %>
  </div>
  <div>
    <%= f.label :document %>
    <% if @news_article.document_id? %>
      <div class="attachment">
      <i class="fa fa-download"></i><%= link_to news_article.document_filename, attachment_url(news_article, :document)%>
      </div>
      <div class="checkbox">
        <%= f.check_box :remove_document %>
        <%= f.label :remove_document %>
    </div>
    <% end %>
    <%= f.attachment_field :document %>
  </div>
  <div>
    <%= f.label :link %>
    <%= f.text_field :link %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>
