<section class="admin-show">
  <div class="breadcrumb">
    <%= link_to "Dashboard", admin_path %>
    <%= link_to "All News", admin_news_articles_path %>
    <a href="#"><%= @news_article.title %></a> 
  </div>
  <article class="news-article">
    <header>
      <h1><%= @news_article.title %></h1
      <p class="date"><%= @news_article.created_at.strftime('%d %B %Y') %></p>
    </header>
    <div class="property">
      <p><strong>Title:</strong></p>
      <p><%= @news_article.title %></p>
    </div>
    <div class="property">
      <p><strong>Body:</strong></p>
      <p>
      <%= @news_article.body %>
      </p>
    </div>
    <div class="property">
      <p><strong>Image:</strong></p>
      <p>
        <%= image_tag attachment_url(@news_article, :image, :fill, 150, 150) %>
      </p>
    </div>
    <% if @news_article.document_id %>
    <div class="property attachment">
      <p><strong>Document:</strong></p>
      <p>
        <i class="fa fa-download left"></i><%= link_to @news_article.document_filename, attachment_url(@news_article, :document) %>
      </p>
    </div>
    <% end %>
    <div class="property">
      <p><strong>Link:</strong></p>
      <p><i class="fa fa-link left"></i><%= link_to @news_article.link, @news_article.link %></p>
    </div>
  </article>
</section>
