<article class="research-theme">
  <div class="breadcrumb">
    <%= link_to "Research", themes_path %>
    <a href="javascript:void(0)"><%= @theme.title %></a>
  </div>
  <header>
    <h1><%= @theme.title %></h1>
  </header>
  <div class="content">
    <p><%= @theme.description %></p>
    <% if @theme.members.any? %>
      <h2>Researchers</h2>
      <ul>
        <% @theme.members.each do |member| %>
          <li><i class="fa fa-user left"></i><%= link_to member.name, member_path(member) %></li>
        <% end %>
      </ul>
    <% end %>
    <% if @theme.publications.any? %>
      <h2>Publications</h2>
        <% @theme.publications.each do |publication| %>
          <p><%= publication.title %> (<%= link_to "download", attachment_url(publication, :document) %><i class="fa fa-download right"></i>)</p>
        <% end %>
    <% end %>
  </div>
  <aside>
    <%= image_tag "logo-hse-250x250.png" %>
  </aside>
</article>
