<% content_for(:description, 'Health, Media & Society is a research centre at Ghent University created in response to the project "(De)constructing Health News') %>
<section class="home">
  <div data-mh="row1" class="hero">
    <div class="hero-inner">
        <span class="hero-logo"><%= image_tag "logo-without-text-126x194.png" %></span>
      <div class="hero-copy">
        <h1>Health, Media &amp; Society</h1>
        <p>Health, Media &amp; Society is a research centre at Ghent University created in response to the project "(De)constructing Health News".</p><p>Based on a collaboration between communication studies, sociolinguistics, sociology and medical science, the focus is set on the question how news media construct health issues.</p>	
      </div>
      <form action="mission" method="get">
      <button>Read More</button>
      </form>
    </div>
  </div>
  <div data-mh="row1" class="news">
    <div class="news-inner">
      <h2>News</h2>
      <% @articles.each do |article| %>
        <p>
        <%= link_to article.title, news_article_path(article) %><br />
        <% if article.date.present? %>
          <time datetime="<%= article.date %>"><%= article.date.strftime('%d %B %Y') %></time>
        <% end %>
        </p>
        <p><%= truncate(article.body, length:90, separator: ' ') %></p>
      <% end %>
    </div>
    <p class="all"><%= link_to "read all news", news_articles_path %></p>
  </div>
  <% @themes.in_groups_of(2, false) do |themes| %>
  <div class="bullets">
    <% themes.each do |theme| %>
      <div class="bullet two-col-bullet">
        <div class="bullet-icon bullet-icon-1">
          <%= image_tag "logo-small-28x42.png" %>
        </div>
        <div class="bullet-content">
          <h2><%= link_to theme.title, theme_path(theme) %></h2>
          <p><%= simple_format(theme.description) %></p>
        </div>
      </div>
    <% end %>
  </div>
  <% end %>
</section>

<script>
  $(document).ready(function () {
    $('.bullet').matchHeight();
  });
</script>
