<%= form_for [:admin, theme], :html => { class: "admin-add" } do |f| %>
  <header>
    <h1>
    <% if theme.new_record? %>
      New Theme
    <% else %>
      Edit Theme 
    <% end %>
    </h1>
  </header>
  <%= render "shared/errors", object: theme %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :summary %>
    <%= f.text_area :summary, rows: "2" %>
  </div>
  <div>
    <%= f.label :image %>
    <div id="image"></div>
    <% if @theme.image_id? %>
      <%= image_tag attachment_url(theme, :image, :fill, 150, 150) %>
      <div class="check_box">
        <%= f.check_box :remove_image %>
        <%= f.label :remove_image %>
      </div>
    <% end %>
    <%= f.attachment_field :image, direct: true, data: { remote_id: :member_image_cache_id } %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description, rows: "5" %>
  </div>
  <div>
     <%= f.label "Members" %>
     <%= f.collection_check_boxes :member_ids, Member.all, :id, :name do |b| %>
       <%= b.label() { b.check_box + b.text } %>
     <% end %>
  </div>
  <div>
     <%= f.label "Publications" %>
     <%= f.collection_check_boxes :publication_ids, Publication.all, :id, :title do |b| %>
       <%= b.label() { b.check_box + b.text } %>
     <% end %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>
