<section class="admin-show">
  <div class="breadcrumb">
    <%= link_to "Dashboard", admin_path %>
    <%= link_to "Themes", admin_themes_path %>
    <a href="#"><%= @theme.title %></a> 
  </div>
  <article>
    <header>
      <h1><%= @theme.title %></h1>
    </header>
    <div class="property">
      <p><strong>Title:</strong></p>
      <p><%= @theme.title %></p>
    </div>
    <div class="property">
      <p><strong>Summary</strong></p>
      <p><%= @theme.summary %></p>
    </div>
    <div class="property">
      <p><strong>Image</strong></p>
      <%= image_tag attachment_url(@theme, :image, :fill, 400, 266) %>
    </div>
    <div class="property">
      <p><strong>Description:</strong></p>
      <p><%= @theme.description %></p>
    </div>
    <% if @theme.members.any? %>
      <div class="property">
        <p><strong>Members</strong></p>
        <ul>
        <% @theme.members.each do |member| %>
          <li><%= link_to member.name, admin_member_path(member) %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <% if @theme.publications.any? %>
      <div class="property">
        <p><strong>Publications</strong></p>
        <ul>
        <% @theme.publications.each do |publication| %>
          <li><%= link_to publication.title, admin_publication_path(publication) %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  </article>
</section>
