<%= form_for [:admin, @publication], :html => { class: "admin-add" } do |f| %>
  <header>
    <h1><i class="fa fa-file-text-o"></i>
      <% if @publication.new_record? %>
        New Publication
      <% else %>
        Edit Publication
      <% end %>
    </h1>
  </header>
  <%= render "shared/errors", object: @publication %>
  <div>
     <%= f.label "Themes" %>
     <%= f.collection_check_boxes :theme_ids, Theme.all, :id, :title do |b| %>
       <%= b.label() { b.check_box + b.text } %>
     <% end %>
  </div>
  <div>
    <%= f.label :date %>
    <%= f.date_field :date %>
  </div>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div>
     <%= f.label "Authors" %>
     <%= f.collection_check_boxes :member_ids, Member.all, :id, :name do |b| %>
       <%= b.label() { b.check_box + b.text } %>
     <% end %>
  </div>
  <div>
    <%= f.label :document %>
    <% if @publication.document_id? %>
      <div class="attachment">
      <i class="fa fa-download left"></i><%= link_to @publication.document_filename, attachment_url(@publication, :document)%>
      </div>
      <div class="checkbox">
        <%= f.check_box :remove_document %>
        <%= f.label :remove_document %>
    </div>
    <% end %>
    <%= f.attachment_field :document %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>
