<section class="admin">
  <div class="breadcrumb">
    <%= link_to "Dashboard", admin_path %>
    <a href="javascript:void(0)">Publications</a>
  </div>
  <header>
    <h1>Publications</h1>
  </header>
  <div class="filter">
      <%= form_tag admin_publications_path, method: "get", id: "filter", class: "filter" do %>
      <%= label_tag "Category" %>
      <%= select "publication", "category", options_for_select(options_for_categories, selected: @selected), {prompt: 'All'}, onchange: "$('#filter').submit();" %>
    <% end %>
  </div>
  <%= button_to "Add Publication", new_admin_publication_path, method: "get" %>
  <table class="tables">
    <tbody>
      <% @publications.each do |publication| %>
        <tr>
          <td><%= link_to publication.title, admin_publication_path(publication) %></td>
          <td><%= link_to "Edit", edit_admin_publication_path(publication) %> | <%= link_to "Delete", admin_publication_path(publication), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
</table>
</section>
