<section class="admin-show">
  <div class="breadcrumb">
    <%= link_to "Dashboard", admin_path %>
    <%= link_to "Publications", admin_publications_path %>
    <a href="#"><%= @publication.title %></a> 
  </div>
  <article>
    <header>
      <h1><%= @publication.title %></h1>
    </header>
    <% if @publication.date.present? %>
      <div class="property">
        <p><strong>Date:</strong></p>
        <p><%= @publication.date.strftime('%d %B %Y') %></p>
      </div>
    <% end %>
    <div class="property">
      <p><strong>Title:</strong></p>
      <p><%= @publication.title %></p>
    </div>
    <% if @publication.themes.any? %>
    <div class="property">
      <p><strong>Theme</strong></p>
      <p>
      <% @publication.themes.each do |theme| %>
        <%= link_to theme.title, admin_theme_path(theme) %>
      <% end %>
      </p>
    </div>
    <% end %>
    <div class="property">
      <p><strong>Description:</strong></p>
      <p><%= @publication.description %></p>
    </div>
    <% if @publication.summary.present? %>
    <div class="property">
      <p><strong>Summary:</strong></p>
      <p><%= @publication.summary %></p>
    </div>
    <% end %>
    <% if @publication.link.present? %>
    <div class="property">
      <p><strong>Link:</strong></p>
      <p><%= link_to @publication.link %></p>
    </div>
    <% end %>
    <% if @publication.members.any? %>
    <div class="property">
      <p><strong>Authors:</strong></p>
      <ul>
        <% @publication.members.each do |member| %>
          <li><%= link_to member.name, admin_member_path(member) %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <% if @publication.document_id %>
    <div class="property attachment">
      <p><strong>Document:</strong></p>
      <p>
        <i class="fa fa-download left"></i><%= link_to @publication.document_filename, attachment_url(@publication, :document) %>
      </p>
    </div>
    <% end %>
  </article>
</section>
