<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <meta http-equiv="Description" name="Description" content="<%= page_description %>" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700'
    rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body class="texture">
    <div id="wrapper">
      <% if flash[:notice] %>
        <p class="flash notice">
          <%= flash[:notice] %>
        </p>
      <% end %>
      <% if flash[:alert] %>
        <p class="flash alert">
          <%= flash[:alert] %>
        </p>
      <% end %>
    </div>
    <div id="main" role="main" class="texture-normal">
      <%= render 'layouts/header' %>
      <%= yield %>
      <div class="push"></div>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
