<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <meta http-equiv="Description" name="Description" content="<%= page_description %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700'
    rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body class="texture">
    <div id="wrapper">
      <% if flash[:notice] %>
        <p class="flash-notice">
          <%= flash[:notice] %>
        </p>
      <% end %>
      <% if flash[:alert] %>
        <p class="flash-alert">
          <%= flash[:alert] %>
        </p>
      <% end %>
    </div>
    <div id="main" role="main" class="texture-normal">
      <%= render 'layouts/header' %>
      <%= yield %>
      <div class="push"></div>
    </div>
    <%= render 'layouts/footer' %>
    <script>
      $(document).ready(function() {
        setTimeout(function(){
          $(".flash-alert, .flash-notice").fadeOut("slow", function() {
            $(this).remove();
          });
        }, 4500);
      });
    </script>
    <script>
      $(document).ready(function() {
        var menu = $('#navigation-menu');
        var menuToggle = $('#js-mobile-menu');
        var signUp = $('.sign-up');

        $(menuToggle).on('click', function(e) {
          e.preventDefault();
          menu.slideToggle(function(){
            if(menu.is(':hidden')) {
              menu.removeAttr('style');
            }
          });
        });

      
      // underline under the active nav item
        $(".nav .nav-link").click(function() {
          $(".nav .nav-link").each(function() {
            $(this).removeClass("active-nav-item");
          });
          $(this).addClass("active-nav-item");
          $(".nav .more").removeClass("active-nav-item");
        });
      });
    </script>
  </body>
</html>
