<% content_for(:title, @member.name) %>
<% content_for(:description, truncate(@member.bio, length: 160)) %>
<article class="researcher">
    <div class="breadcrumb">
      <a href="/people.html">People</a>
      <a href="javascript:void(0)"><%= @member.name %></a>
    </div>
    <header>
      <h1><%= @member.name %></h1>
    </header>
    <aside>
      <%= image_tag attachment_url(@member, :image, :fill, 250, 250) %>
    </aside>
    <div class="content">
      <p><%= simple_format(@member.bio) %></p>
      <% if @member.themes.any? %>
        <h2>Research</h2>
        <ul>
          <% @member.themes.each do |theme| %>
            <li><%= link_to theme.title, theme_path(theme) %>
          <% end %>
        </ul>
      <% end %>
      <% if @member.publications.any? %>
        <h2>Publications</h2>
        <% @member.publications.each do |publication| %>
          <p><%= publication.title %> ( <i class="fa fa-download left"></i><%= link_to "download", attachment_url(publication, :document) %> )</p>
        <% end %>
      <% end %>
      <% if @member.bibliography.present? %>
        <h2>Bibliography</h2>
        <%= link_to @member.bibliography, @member.bibliography, target: "_blank" %>
      <% end %>
      <h2>Contact</h2>
      <p>
      <i class="fa fa-envelope left"></i><%= mail_to @member.email %> <br />
      <i class="fa fa-phone left"></i> <a href="tel:<%= @member.phone %>"><%= @member.phone %></a><br />
    <i class="fa fa-home left"></i>  
    <%= @member.address %>
      </p>
    </div>
  </article>
